{#
/**
 * @file
 * Electro Commerce theme implementation for commerce product (mini view mode).
 * Used in bestsellers and product list sections.
 *
 * @see template_preprocess_commerce_product()
 */
#}

<div{{ attributes.addClass(['products-mini-item', 'border']) }}>
  <div class="row g-0">
    <div class="col-5">
      <div class="products-mini-img border-end h-100 position-relative">
        {% if product.field_images is defined and product.field_images.0 %}
          {{ product.field_images.0 }}
        {% elseif product.field_image is defined and product.field_image.0 %}
          {{ product.field_image.0 }}
        {% else %}
          <img src="/themes/custom/electro_commerce/images/product-placeholder.png"
               class="img-fluid w-100 h-100"
               alt="{{ product.title.value }}" />
        {% endif %}

        <div class="products-mini-icon rounded-circle bg-primary">
          <a href="{{ product_url }}" aria-label="{{ 'Quick view'|t }}">
            <i class="fa fa-eye fa-1x text-white"></i>
          </a>
        </div>
      </div>
    </div>

    <div class="col-7">
      <div class="products-mini-content p-3">
        {% if product.field_category is defined and product.field_category.0 %}
          <a href="{{ product.field_category.0.entity.url }}" class="d-block mb-2">
            {{ product.field_category.0.entity.label }}
          </a>
        {% endif %}

        <a href="{{ product_url }}" class="d-block h4">
          {{ product.title.value }}
        </a>

        {% if product.variations is defined %}
          {% set variation = product.variations.0.entity %}
          {% if variation %}
            {% if variation.field_compare_price is defined and variation.field_compare_price.0 %}
              <del class="me-2 fs-5">{{ variation.field_compare_price.0.value }}</del>
            {% endif %}
            <span class="text-primary fs-5">{{ variation.price.0 }}</span>
          {% endif %}
        {% endif %}
      </div>
    </div>
  </div>

  <div class="products-mini-add border p-3">
    {{ drupal_form('Drupal\\commerce_cart\\Form\\AddToCartForm', {product_id: product.product_id.value}) }}
    <div class="d-flex mt-2">
      <a href="{{ product_url }}?action=compare"
         class="text-primary d-flex align-items-center justify-content-center me-3"
         aria-label="{{ 'Compare'|t }}">
        <span class="rounded-circle btn-sm-square border">
          <i class="fas fa-random"></i>
        </span>
      </a>
      <a href="{{ product_url }}?action=wishlist"
         class="text-primary d-flex align-items-center justify-content-center"
         aria-label="{{ 'Add to Wishlist'|t }}">
        <span class="rounded-circle btn-sm-square border">
          <i class="fas fa-heart"></i>
        </span>
      </a>
    </div>
  </div>
</div>
