{#
/**
 * @file
 * Electro Commerce block template - Services Bar block.
 * Place this as a custom block in the services_bar region.
 */
#}
<div class="row g-0">
  <div class="col-6 col-md-4 col-lg-2 border-start border-end">
    <div class="p-4">
      <div class="d-inline-flex align-items-center">
        <i class="fa fa-sync-alt fa-2x text-primary"></i>
        <div class="ms-4">
          <h6 class="text-uppercase mb-2">{{ 'Free Return'|t }}</h6>
          <p class="mb-0">{{ '30 days money back guarantee!'|t }}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-6 col-md-4 col-lg-2 border-end">
    <div class="p-4">
      <div class="d-flex align-items-center">
        <i class="fab fa-telegram-plane fa-2x text-primary"></i>
        <div class="ms-4">
          <h6 class="text-uppercase mb-2">{{ 'Free Shipping'|t }}</h6>
          <p class="mb-0">{{ 'Free shipping on all orders'|t }}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-6 col-md-4 col-lg-2 border-end">
    <div class="p-4">
      <div class="d-flex align-items-center">
        <i class="fas fa-life-ring fa-2x text-primary"></i>
        <div class="ms-4">
          <h6 class="text-uppercase mb-2">{{ 'Support 24/7'|t }}</h6>
          <p class="mb-0">{{ 'We support online 24 hrs a day'|t }}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-6 col-md-4 col-lg-2 border-end">
    <div class="p-4">
      <div class="d-flex align-items-center">
        <i class="fas fa-credit-card fa-2x text-primary"></i>
        <div class="ms-4">
          <h6 class="text-uppercase mb-2">{{ 'Receive Gift Card'|t }}</h6>
          <p class="mb-0">{{ 'Receive gift on all orders over $50'|t }}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-6 col-md-4 col-lg-2 border-end">
    <div class="p-4">
      <div class="d-flex align-items-center">
        <i class="fas fa-lock fa-2x text-primary"></i>
        <div class="ms-4">
          <h6 class="text-uppercase mb-2">{{ 'Secure Payment'|t }}</h6>
          <p class="mb-0">{{ 'We Value Your Security'|t }}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-6 col-md-4 col-lg-2 border-end">
    <div class="p-4">
      <div class="d-flex align-items-center">
        <i class="fas fa-blog fa-2x text-primary"></i>
        <div class="ms-4">
          <h6 class="text-uppercase mb-2">{{ 'Online Service'|t }}</h6>
          <p class="mb-0">{{ 'Free return products in 30 days'|t }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
