{#
/**
 * @file
 * Electro Commerce theme implementation to display a single page.
 *
 * Available variables:
 * - node: The node entity (if applicable).
 * - is_front: TRUE if current page is the front page.
 * - logged_in: TRUE if the user is logged in.
 * - is_admin: TRUE if the user has administrative access.
 * - site_name: The name of the site.
 * - site_slogan: The slogan of the site.
 *
 * @see template_preprocess_page()
 * @see electro_commerce_preprocess_page()
 */
#}
<!DOCTYPE html>
<html{{ html_attributes }}>
  <head>
    <head-placeholder token="{{ placeholder_token }}">
    <title>{{ head_title|safe_join(' | ') }}</title>
    <css-placeholder token="{{ placeholder_token }}">
    <js-placeholder token="{{ placeholder_token }}">
  </head>
  <body{{ attributes }}>
    <a href="#main-content" class="visually-hidden focusable skip-link">
      {{ 'Skip to main content'|t }}
    </a>
    {{ page_top }}
    {{ page }}
    {{ page_bottom }}
    <js-bottom-placeholder token="{{ placeholder_token }}">
  </body>
</html>
