{#
/**
 * @file
 * Electro Commerce theme implementation to display a single page.
 *
 * Regions:
 * - page.topbar_left
 * - page.topbar_center
 * - page.topbar_right
 * - page.header_logo
 * - page.header_search
 * - page.header_actions
 * - page.primary_menu
 * - page.hero_slider
 * - page.hero_banner
 * - page.services_bar
 * - page.product_offers
 * - page.products_tabs
 * - page.product_banners
 * - page.product_list
 * - page.bestsellers
 * - page.content
 * - page.sidebar_first
 * - page.sidebar_second
 * - page.footer_newsletter
 * - page.footer_customer_service
 * - page.footer_information
 * - page.footer_extras
 * - page.footer_contact
 * - page.copyright
 */
#}

{# ============================================================ #}
{# TOPBAR #}
{# ============================================================ #}
{% if page.topbar_left or page.topbar_center or page.topbar_right %}
<div class="container-fluid px-5 d-none border-bottom d-lg-block" id="topbar">
  <div class="row gx-0 align-items-center">
    {% if page.topbar_left %}
    <div class="col-lg-4 text-center text-lg-start mb-lg-0">
      <div class="d-inline-flex align-items-center" style="height: 45px;">
        {{ page.topbar_left }}
      </div>
    </div>
    {% endif %}

    {% if page.topbar_center %}
    <div class="col-lg-4 text-center d-flex align-items-center justify-content-center">
      {{ page.topbar_center }}
    </div>
    {% endif %}

    {% if page.topbar_right %}
    <div class="col-lg-4 text-center text-lg-end">
      <div class="d-inline-flex align-items-center" style="height: 45px;">
        {{ page.topbar_right }}
      </div>
    </div>
    {% endif %}
  </div>
</div>
{% endif %}

{# ============================================================ #}
{# HEADER: Logo + Search + Actions #}
{# ============================================================ #}
{% if page.header_logo or page.header_search or page.header_actions %}
<div class="container-fluid px-5 py-4 d-none d-lg-block" id="header">
  <div class="row gx-0 align-items-center text-center">
    {% if page.header_logo %}
    <div class="col-md-4 col-lg-3 text-center text-lg-start">
      {{ page.header_logo }}
    </div>
    {% endif %}

    {% if page.header_search %}
    <div class="col-md-4 col-lg-6 text-center">
      {{ page.header_search }}
    </div>
    {% endif %}

    {% if page.header_actions %}
    <div class="col-md-4 col-lg-3 text-center text-lg-end">
      {{ page.header_actions }}
    </div>
    {% endif %}
  </div>
</div>
{% endif %}

{# ============================================================ #}
{# NAVBAR + PRIMARY MENU #}
{# ============================================================ #}
<div class="container-fluid nav-bar p-0" id="navbar">
  <div class="row gx-0 bg-primary px-5 align-items-center">
    {# All Categories sidebar (desktop only) #}
    <div class="col-lg-3 d-none d-lg-block">
      <nav class="navbar navbar-light position-relative" style="width: 250px;">
        <button class="navbar-toggler border-0 fs-4 w-100 px-0 text-start text-white" type="button"
                data-bs-toggle="collapse" data-bs-target="#allCategoriesMenu"
                aria-controls="allCategoriesMenu" aria-expanded="false"
                aria-label="{{ 'All Categories'|t }}">
          <h4 class="m-0 text-white">
            <i class="fa fa-bars me-2"></i>{{ 'All Categories'|t }}
          </h4>
        </button>
        <div class="collapse navbar-collapse rounded-bottom" id="allCategoriesMenu">
          <div class="navbar-nav ms-auto py-0">
            {{ drupal_block('electro_commerce_categories_menu') }}
          </div>
        </div>
      </nav>
    </div>

    {# Primary Navigation #}
    <div class="col-12 col-lg-9">
      <nav class="navbar navbar-expand-lg navbar-light bg-primary">
        {# Mobile logo #}
        <a href="{{ url('<front>') }}" class="navbar-brand d-block d-lg-none">
          <h1 class="display-5 text-secondary m-0">
            <i class="fas fa-shopping-bag text-white me-2"></i>{{ site_name }}
          </h1>
        </a>

        <button class="navbar-toggler ms-auto" type="button"
                data-bs-toggle="collapse" data-bs-target="#primaryNavCollapse"
                aria-controls="primaryNavCollapse" aria-expanded="false"
                aria-label="{{ 'Toggle navigation'|t }}">
          <span class="fa fa-bars fa-1x text-white"></span>
        </button>

        <div class="collapse navbar-collapse" id="primaryNavCollapse">
          {% if page.primary_menu %}
          <div class="navbar-nav ms-auto py-0">
            {{ page.primary_menu }}
          </div>
          {% endif %}

          {# Phone CTA button #}
          <a href="tel:+01234567890" class="btn btn-secondary rounded-pill py-2 px-4 px-lg-3 mb-3 mb-md-3 mb-lg-0">
            <i class="fa fa-mobile-alt me-2"></i> +012 345 7890
          </a>
        </div>
      </nav>
    </div>
  </div>
</div>

{# ============================================================ #}
{# MAIN CONTENT AREA #}
{# ============================================================ #}
<main id="main-content" tabindex="-1">

  {# Hero Slider + Banner (front page) #}
  {% if page.hero_slider or page.hero_banner %}
  <div class="container-fluid carousel bg-light px-0" id="hero-section">
    <div class="row g-0 justify-content-end">
      {% if page.hero_slider %}
      <div class="col-12 col-lg-7 col-xl-9">
        {{ page.hero_slider }}
      </div>
      {% endif %}

      {% if page.hero_banner %}
      <div class="col-12 col-lg-5 col-xl-3">
        {{ page.hero_banner }}
      </div>
      {% endif %}
    </div>
  </div>
  {% endif %}

  {# Services Bar #}
  {% if page.services_bar %}
  <div class="container-fluid px-0" id="services-bar">
    {{ page.services_bar }}
  </div>
  {% endif %}

  {# Product Offers #}
  {% if page.product_offers %}
  <div class="container-fluid bg-light py-5" id="product-offers">
    <div class="container">
      {{ page.product_offers }}
    </div>
  </div>
  {% endif %}

  {# Products Tabs (Our Products) #}
  {% if page.products_tabs %}
  <div class="container-fluid product py-5" id="our-products">
    <div class="container py-5">
      {{ page.products_tabs }}
    </div>
  </div>
  {% endif %}

  {# Product Banners #}
  {% if page.product_banners %}
  <div class="container-fluid py-5" id="product-banners">
    <div class="container">
      {{ page.product_banners }}
    </div>
  </div>
  {% endif %}

  {# Product List Carousel #}
  {% if page.product_list %}
  <div class="container-fluid products productList overflow-hidden" id="product-list">
    <div class="container products-mini py-5">
      {{ page.product_list }}
    </div>
  </div>
  {% endif %}

  {# Bestseller Products #}
  {% if page.bestsellers %}
  <div class="container-fluid products pb-5" id="bestsellers">
    <div class="container products-mini py-5">
      {{ page.bestsellers }}
    </div>
  </div>
  {% endif %}

  {# Main Content (non-front or interior pages) #}
  {% if page.content %}
  <div class="container-fluid py-5" id="content-area">
    <div class="container">
      {% if page.sidebar_first or page.sidebar_second %}
      <div class="row">
        {% if page.sidebar_first %}
        <aside class="col-lg-3 sidebar-first" role="complementary">
          {{ page.sidebar_first }}
        </aside>
        {% endif %}

        <main class="{% if page.sidebar_first and page.sidebar_second %}col-lg-6{% elseif page.sidebar_first or page.sidebar_second %}col-lg-9{% else %}col-12{% endif %}">
          {{ page.content }}
        </main>

        {% if page.sidebar_second %}
        <aside class="col-lg-3 sidebar-second" role="complementary">
          {{ page.sidebar_second }}
        </aside>
        {% endif %}
      </div>
      {% else %}
      {{ page.content }}
      {% endif %}
    </div>
  </div>
  {% endif %}

</main>

{# ============================================================ #}
{# FOOTER #}
{# ============================================================ #}
<footer class="container-fluid footer py-5" id="footer">
  <div class="container py-5">

    {# Footer Contact Row #}
    {% if page.footer_contact %}
    <div class="row g-4 rounded mb-5" style="background: rgba(255, 255, 255, .03);">
      {{ page.footer_contact }}
    </div>
    {% endif %}

    {# Footer Widget Columns #}
    {% if page.footer_newsletter or page.footer_customer_service or page.footer_information or page.footer_extras %}
    <div class="row g-5">
      {% if page.footer_newsletter %}
      <div class="col-md-6 col-lg-6 col-xl-3">
        {{ page.footer_newsletter }}
      </div>
      {% endif %}

      {% if page.footer_customer_service %}
      <div class="col-md-6 col-lg-6 col-xl-3">
        {{ page.footer_customer_service }}
      </div>
      {% endif %}

      {% if page.footer_information %}
      <div class="col-md-6 col-lg-6 col-xl-3">
        {{ page.footer_information }}
      </div>
      {% endif %}

      {% if page.footer_extras %}
      <div class="col-md-6 col-lg-6 col-xl-3">
        {{ page.footer_extras }}
      </div>
      {% endif %}
    </div>
    {% endif %}

  </div>
</footer>

{# ============================================================ #}
{# COPYRIGHT #}
{# ============================================================ #}
<div class="container-fluid copyright py-4" id="copyright">
  {% if page.copyright %}
  {{ page.copyright }}
  {% else %}
  <div class="container">
    <div class="row g-4 align-items-center">
      <div class="col-md-6 text-center text-md-start mb-md-0">
        <span class="text-white">
          <a href="{{ url('<front>') }}" class="border-bottom text-white">
            <i class="fas fa-copyright text-light me-2"></i>{{ site_name }}
          </a>, {{ 'All rights reserved.'|t }}
        </span>
      </div>
      <div class="col-md-6 text-center text-md-end text-white">
        {{ 'Powered by'|t }} <a class="border-bottom text-white" href="https://www.drupal.org">Drupal</a>
        &amp; <a class="border-bottom text-white" href="https://drupalcommerce.org">Commerce</a>
      </div>
    </div>
  </div>
  {% endif %}
</div>

{# Back to top button #}
<a href="#" class="btn btn-primary btn-lg-square back-to-top" aria-label="{{ 'Back to top'|t }}">
  <i class="fa fa-arrow-up"></i>
</a>
