<div class="row g-3 align-items-end">

  <div class="col-lg-4">
    {{ form.title }}
  </div>

  <div class="col-lg-3">
    {{ form.field_category_target_id }}
  </div>

  <div class="col-lg-2">
    {{ form.sort_by }}
  </div>

  <div class="col-lg-2">
    {{ form.sort_order }}
  </div>

  <div class="col-lg-1">
    {{ form.actions }}
  </div>

  {{ form|without(
    'title',
    'field_category_target_id',
    'sort_by',
    'sort_order',
    'actions'
  ) }}

</div>