{#
/**
 * @file
 * Electro Commerce paragraph template for hero slider item.
 *
 * Paragraph type: hero_slide
 * Fields:
 *   - field_slide_image: Image field
 *   - field_slide_eyebrow: Text field (e.g. "Save Up To A $400")
 *   - field_slide_title: Text field (headline)
 *   - field_slide_subtext: Text field (e.g. "Terms and Condition Apply")
 *   - field_slide_cta_url: Link field
 *   - field_slide_cta_text: Text field (button label)
 *
 * Variables:
 * - paragraph: The paragraph entity.
 * - content: All field output as render arrays.
 * - attributes: HTML attributes for the paragraph element.
 */
#}

{% set slide_image = content.field_slide_image %}
{% set slide_eyebrow = paragraph.field_slide_eyebrow.value %}
{% set slide_title = paragraph.field_slide_title.value %}
{% set slide_subtext = paragraph.field_slide_subtext.value %}
{% set slide_cta_url = paragraph.field_slide_cta_url.0.url %}
{% set slide_cta_text = paragraph.field_slide_cta_text.value|default('Shop Now'|t) %}

<div class="row g-0 header-carousel-item align-items-center">
  <div class="col-xl-6 carousel-img">
    {% if slide_image %}
      {{ slide_image }}
    {% endif %}
  </div>
  <div class="col-xl-6 carousel-content p-4">
    {% if slide_eyebrow %}
      <h4 class="text-uppercase fw-bold mb-4" style="letter-spacing: 3px;">
        {{ slide_eyebrow }}
      </h4>
    {% endif %}

    {% if slide_title %}
      <h1 class="display-3 text-capitalize mb-4">{{ slide_title }}</h1>
    {% endif %}

    {% if slide_subtext %}
      <p class="text-dark">{{ slide_subtext }}</p>
    {% endif %}

    {% if slide_cta_url %}
      <a class="btn btn-primary rounded-pill py-3 px-5"
         href="{{ slide_cta_url }}">
        {{ slide_cta_text }}
      </a>
    {% endif %}
  </div>
</div>
